h2{
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.row-input {
margin-bottom: 8px;
}

.btn{
    padding: 15px;
    margin-bottom: 8px;
    width: 50px;
}

.value{
    width: 206px;
    height: 25px;
}